<!-- no edit -->

<div class="row">
    <div class="col s12">
        <h3> Editar la Marca</h3>
    </div>
</div>



<!-- Form -->


<div class="row">
    <div class="card device"></div>

        <form action="/brands/{{brand._id}}?_method=PUT" method="POST" class="col s12" enctype="multipart/form-data">
            <!--<input type="hidden" name="_method" value="PUT">-->
            <!--  image -->
            <div class="row">
                <div class="row ">
                    <div class="input-field col s6">
                        <input type="file" name="image" value="{{brand.image}}">
                    </div>
                </div>
            </div>
           
            <div class="row">
                <!--  name -->
                <div class="input-field row s10">
                    <i class="fa fa-mobile prefix"></i>
                    <input id="name" name="name" type="text" class="validate" value="{{brand.name}}" required>
                    <label for="name" >Nombre</label>
                </div>
            </div>



            <div class="row">
                <input type="submit" value="Guardar" class="btn">
                <a href="/allbrands" class="btn orange">Cancelar</a>
            </div>
        </form>
    </div>
</div>